.footer__column-link {
    color: white;
    text-decoration: none;
    line-height: 30px; 
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer__column-link:nth-of-type(3n) {
    margin-bottom: 0px;
}

.footer__column-link:hover {
    color: #5259a8;
    opacity: .7;
    transition: color .5s ease-out .1s;
}