.footer__column-link {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 18px; 
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer__column-link:hover {
    color: #5259a8;
    opacity: .7;
    transition: color .5s ease-out .1s;
}