.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    vertical-align: middle;
    color: #2f80ed;
    line-height: 51px;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    transition: color .5s ease-out .1s;
    

} 
  
.feynman__link:hover {
    color: #2f40ed;
    opacity: .7;
    transition: color .5s ease-out .1s;
}