/* @import url(./__theme/section-title__theme_dark.css);*/
.section-title {
  width: 60%;
  margin: 0px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
  