@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);

.feynman {
    height: 890px;
    padding-top: 100px;
    background-image: url(E:/Ya.Practicum/dev/first-project/images/feinman.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
}