.kaufman__triangle {
    background-image: url(../../../images/triangle.svg);
    background-size: contain;
    position: absolute;
    display: flex;
    right: -210px;
    top: 0px;
    height: 877px;
    width: 877px;
    z-index: 0;
}